* {
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
} */

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  /* font-weight: 500; */
  font: var(--mat-sys-headline-large);
  letter-spacing: var(--mat-sys-headline-large-tracking);
}

.no-text-select {
  -webkit-user-select: none;
  user-select: none;
}

/* AppBar drag and no-drag regions */
.app-bar-drag {
  -webkit-app-region: drag;
}

.app-bar-no-drag {
  -webkit-app-region: no-drag;
}

.tfx-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: var(--mat-sys-surface);
  padding: 6px 0;
}

.tfx-menu button {
  font: var(--mat-sys-label-large);
  color: var(--mat-sys-on-surface);
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.tfx-menu button:hover:enabled {
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
}

.tfx-menu button:active {
  background-color: rgb(170, 170, 170);
}

.tfx-menu button:disabled {
  opacity: 0.5;
  cursor: default;
}

.tfx-submenu-icon {
  margin-left: auto;
  font-size: 20px;
}

/* 
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined-small {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}

.material-symbols-outlined-large {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
} */
